:root {
            --color-dark: #2B2D42;
            --color-medium: #8D99AE;
            --color-light: #EDF2F4;
        }

/* body */
body  {
  background-color: var(--color-light) !important;
}

hr  {
  background-color: var(--color-medium);
}

div.sensordata  {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: var(--color-dark);
}

/* add some space between navbar and first element */
.navbar  {
  margin-bottom: 10px;
  background-color: var(--color-dark);
}

/* images */
.motionImage {
  background-color: var(--color-medium);
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.motionImageMenu {
  border-radius: 5px;
  border: 1px solid;
  position: absolute;
  right:20px;
  top: 5px;
  padding: 2px;
  background-color: rgba(225, 225, 225, 0.5);
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-medium);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-dark);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper {
    display: block;
}
